---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

---
# Wait Time for Priority Procedures in Canada (2023 Project)
ANALYSIS: https://github.com/Gavin-Thomas/Wait-Times-for-Priority-Procedures-in-Canada

![ViolinPlot-Province](https://github.com/Gavin-Thomas/Wait-Times-for-Priority-Procedures-in-Canada/blob/main/Images/ViolinPlot-Province.png?raw=true)
_Figure 1_. Violin plot of wait time in days for each Canadian province (excluding territories) for priority procedures. 
---
# Shoulder Press & Computer Vision (2023 Project)
IN-DEPTH: https://github.com/Gavin-Thomas/Shoulder-Press-Tracker

The following is my attempt at creating a small python application that uses OpenCV, MediaPipe, NumPy, and Python to make an app that will track my movement and count reps of my shoulder press. Hypothetically this app could be used to find squat depth (angle) and count squats, or any other type of tracking as well.

# Watch the Rep Counter in Action! (image links to youtube)

[![GotoYoutube](https://github.com/Gavin-Thomas/KNES-381/blob/main/images/Youtubelink.png?raw=true)](https://www.youtube.com/watch?v=e-XoiDOFD5s "Video Title")
---
# Pac-Man game integrated into Anki Flashcards (2025)
![Pacman Banner](https://github.com/Gavin-Thomas/Anki-Pacman-Add-On/blob/main/images/banner.png?raw=true)

DETAILS: https://github.com/Gavin-Thomas/Anki-Pacman-Add-On
---
# Dementia Classification Neural Network
<img src="https://github.com/Gavin-Thomas/Dementia-Classification-FFNN/blob/main/misc/network_visualization.png?raw=true" width="400">
ANALYSIS: https://github.com/Gavin-Thomas/Dementia-Classification-FFNN





